.colora {
    color: aliceblue;
}
.cover {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/lys1-e9cd8.appspot.com/o/webapp%2Ftgxsajob2vzedps87lvhp?alt=media&token=cdb30aaf-c087-46db-99df-0472f0fe28f8);
    background-size: cover;
}